html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
/*padding: 50px;*/
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
color: #00B7FF;
}
h1{
margin-bottom: 0.6em;
border-bottom: 1px solid #aaa;
padding: 0.5em 0 0.17em 0;
color: #000;
/*font: normal 150%/1.5 sans-serif;*/
}
/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto;
/* Negative indent footer by its height */
margin: 0 auto -60px;
/* Pad bottom by footer height */
padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
height: 60px;
background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap > .container {
padding: 60px 15px 0;
}
.container .text-muted {
margin: 20px 0;
}
#footer > .container {
padding-left: 15px;
padding-right: 15px;
}
code {
font-size: 80%;
}
.tweetbox {
padding: 7px;
}
.tweetbox img {
float: left;
height: 48px;
width: 48px;
content:url("http://lorempixel.com/48/48");
}
.content {
margin-left: 60px;
}
.content .by {
font-weight: bold;
}
ul.no-bullet{
list-style-type: none;
padding:0;
margin: 0;
}
li.pic{
height: 100px;
background-size: 70px;
background-repeat: no-repeat;
padding-left:90px;
padding-top: 3px;
}